
.box-add{
	
	/*background-color: #4267b2;*/
	padding-top: 10px;
	padding-bottom: 10px;
	font-family:CLAN PRO THIN;
}
.classrow{

	-webkit-box-shadow:1px 1px 1px 1px #4267b2;   
}
.divhead span{
		color: #28a745;
	font-size: 20px;
	font-family:Clarendon Blk BT;
}
.divhead h3{
	color: #4267b2;
	font-size: 20px;
	font-family:Clan Pro Medium
}
/*-----------------------*****----------------*/
.imgpequeño{
 border-color: #4267b2;
 /*border-right-color: transparent;*/
 border-left-color: transparent;
 border-bottom: transparent;
 border-top-color: transparent;
    border-width: 1px;
   border-style: solid;
}
.imgpequeño img{
    width: 80%;
    height: 60%;
    text-align: center;
    border: 0px solid #581414;
    /*border-radius: 25px;	*/
    display: block;
    margin-left: 5px;
    margin-right: 25px;
    padding-top: 20px;
    
}

.imgpequeño img{
	padding-bottom: 20%;*/
}

@media screen and (max-width: 500px){
    .imgpequeño img{
    	width: 40%;
    	height: 40%;
        vertical-align: top;
        padding-bottom: 5%;

    }
}
/*------------------------imgcentro----------------*/
.imgcentro img{
     width: 80%;
    height: 85%;
    /*text-align: center;*/
    border: 0px solid #581414;
    border-radius: 10px;	
    display: block;
    /*margin-left: 25px;
    margin-right: 25px;*/
    margin-bottom: 10px;
    margin-top: 10px;
    
}
/*----------------------------*****-----------------*/
.rowww{
 -webkit-box-shadow:1px 1px 1px 1px #4267b2;
    -moz-box-shadow:1px 1px 1px 1px #4267b2;
    box-shadow:1px 1px 1px 1px #4267b2;
 background-color: #f8f8f8;
}
.precio h3 {
	font-size: 25px;
	color: green;
	text-align: center;

}
.precio h2 {
	color: #283b61;
	font-size: 60px;
	font-family: Clan Pro News;

}
.h44{
	font-size: 40px;
	margin-bottom: -75px;
	text-align: left;
	color: #283b61;
}
.derechuno{
	margin-top: 10px;
	margin-right: 13px;
	background-color: #4267b2;
	height: 45px;
	padding-bottom: 30px;
	border-radius: 5px;
}

.derechuno h3{
	font-size: 30px;
	margin-bottom: 50px;
	color: #ffffff;
	text-align: center;
}

/*.producto-box1-box4-box4-activate {
    -webkit-box-shadow: 0 0 6px 0 #999;
    box-shadow: 0 0 6px 0 #999;
    position: absolute;
    width: 48px;
    height: 67px;
    border-radius: 2px;
    display: none;
    cursor: pointer;
    border-color: #969696;*/
