
.ecfectou img:hover{
	transform: scale(1.1);
}

.ecfecto img:hover {
	-webkit-transform:scale(1.3);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 2000ms;
	/*transform:scale(1.3);*/

}
.ecfecto {overflow:hidden;}


/*-webkit-transform:scale(1.3);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 2000ms;

    -moz-transform:scale(1.3);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 2000ms;*/